__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
.git
.gitignore
*.log
.pytest_cache
.coverage
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json